* {
    background-color: rgb(38, 78, 73);
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

main {
    height: 100vh;
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 25px 0 25px 0;
}

h1 {
    background-color: black;
    border: 2px solid white;
    border-radius: 8px;
    width: fit-content;
    padding: 0 15px 0 15px;
    color: white;

}

h2 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    color: white;

}

button {
    background-color: aqua;
    font-size: larger;
    display: flex;
    justify-content: center;
    padding: 0 10px 0 10px;
}

button:hover {
    box-shadow: inset 0px 0px 4px rgb(102, 205, 236), 0 0 7px rgb(102, 144, 236);

}

#quizAnswers {
    display: flex;
    flex-direction: column;
    width: fit-content;

    justify-content: center;
    flex-wrap: wrap;
}

#quizBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.input {
    background-color: white;
    padding: .7em;
}

.submitButton {
    background-color: aqua;
    margin-top: 15px;
    padding: .7em;
}

.leaderboard {
    color: gold;
    list-style: none;
}

.end {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    padding: .7em;
    background-color: rgb(155, 42, 165);
}